{% extends "base.html" %}
{% block content %}
<h2>My Projects 💻</h2>

<div class="card-container">

     <div class="card">
        <h3>Personal Portfolio Website</h3>
        <p> Flask + HTML + CSS </p>
        <p>A dynamic portfolio to showcase my work & contact.</p>
    </div>

    <div class="card">
        <h3>Snap Aid</h3>
        <p>Service Provider App using Python + JS + SQLite</p>
        <p>A service provider-based platform for quick home services like electricians, plumbers, etc.</p>
    </div>

    <div class="card">
        <h3>Sales Data Analyzer</h3>
        <p>Analyzing sales data using pandas and matplotlib</p>
    </div>
</div>

{% endblock %}
